.paper-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}

body {
  margin: 0;
}
#prof-page * {
  box-sizing: border-box;
}
#prof-page {
  margin: 0 auto;
  font-size: 4vw;
  font-family: Arial, Helvetica, sans-serif;
}

.prof-header {
  width: 90%;
  margin: 5% auto;
  display: flex;
  flex-wrap: wrap;
}

.prof-header .prof-img {
  position: relative;
  flex: 0 0 43%;

  padding-top: 43%;
  height: 0;
  margin: 0;
  
}

.prof-header .prof-img img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.prof-header .prof-info {
  flex: 1 0 0;
  max-width: 52%;
  margin-left: 1em;
}

.prof-header .prof-info p {
  margin: 0;
}

.prof-header .prof-title {
  flex: 1 0 0;
  margin: 1em 0 0 1em;
}

.prof-contact .contact-title {
  margin-bottom: 1em;
}

.prof-contact .contact-item {
  margin-bottom: 0.6em;
}

.prof-info .prof-role {
  line-height: 1.35em;
}

.prof-tabs {
  display: flex;
}

.prof-tabs .slide-tabs {
  flex: 0 0 32px;
  border: 1px solid transparent;
  text-align: center;
  line-height: 32px;
}

.prof-tabs .tabs {
  flex: 1 1 0;
  overflow-x: hidden;
  display: flex;
  margin: 0;
  padding: 0;
  overflow-y: visible;
}

.prof-tabs .tabs span {
  height: 2em;
  line-height: 2em;
  display: inline-block;
  padding: 0px 10px 0px 10px;
  flex: 1;
  text-align: center;

  border-bottom: 5px solid transparent;
}
.prof-tabs .tabs .active,
.prof-tabs .tabs span:hover {
  border-bottom: 5px solid #eba800;
}
#prof-page .division-line {
  border: 0 none;
  border-top-style: inset;
  border-top: 1px solid gray;
  height: 20px;
  background-image: linear-gradient(
    rgba(211, 211, 211, 0.5),
    rgba(211, 211, 211, 0)
  );
  margin: 0;
}

.prof-tabs .tab-arrow {  
  text-align: center;
  width: 2em;
  height: 2em;
  line-height: 2em;
}

.prof-info .prof-role,
.prof-title .prof-category,
.prof-title .prof-username,
.prof-contact .contact-item,
.prof-tabs .tabs {
  color: gray;
}

.prof-info .prof-role,
.prof-title .prof-category {
  color: #a9a9a9;
}


/*Tamaños Texto*/

.prof-title .prof-full-name {
  font-size: 1.2em;
}

.prof-info .prof-role,
.prof-tabs .tabs {
  font-size: 0.95em;
}

.prof-title .prof-username {
  font-size: 0.9em;
}
.prof-contact .contact-item,
.prof-title .prof-category {
  font-size: 0.8em;
}

@media screen and (min-width: 400px) {
}

@media screen and (min-width: 900px) {
  .prof-header {
    width: 95%;
    margin: 2.5% auto 1% auto;
    flex-wrap: nowrap;
  }
  #prof-page {
    width: 80%;
    font-size: 16px;
  }

  #prof-page .prof-header {
    align-items: flex-end;
  }

  .prof-tabs ul li {
    font-size: 1.3em;
  }

  .prof-header .prof-img {
    position: relative;
    flex: 0 0 17%;

    padding-top: 17%;
  }

  .prof-header .prof-title {
    flex: 1 1 auto;
    order: 1;
    margin-bottom: 2em;
  }

  .prof-header .prof-info {
    flex: 1 1 auto;
    order: 2;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 2em;
  }

  .prof-info .prof-contact {
    order: 2;
    flex: 1 0 auto;
  }

  .prof-contact .contact-item i {
    width: 1em;
  }

  .prof-info .prof-role {
    order: 1;
    flex: 1 1 30%;
    display: flex;
    align-items: flex-end;
    margin-right: 1em;
  }



  
  #prof-page .division-line {
    border-top: 0;    
  }
}
