

.prof-list-component * {
  box-sizing: border-box;
}

.prof-list-component {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.prof-list-component .paper-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}

.prof-list-component .container-fluid{
    width: 90%; margin: 0 auto
}

.prof-list-component .card-wrapper {
  padding: 5px;  
}

.prof-list-component .prof-card {
  display: flex;
  overflow: hidden;
  
}

.prof-card .card-image {
  height: 9em;
  width: 9em;
  padding: 7px;
  flex: 0 0 auto;
}

.card-image img {
  width: 100%;
  height: 100%;
}
.prof-card .card-info {
    
    height: 9em;
    overflow: hidden;
  padding: 7px 7px 7px 0;  
}
.card-info .prof-name {  
  line-height: 1;
  font-weight: bolder;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
}

.card-info .prof-dept, .card-info .prof-role {  
  color: lightslategrey;
}

/*-----Paginador */

#prof-pagination {
  display: flex;
  flex-flow: row wrap;
  min-height: 45px;
  padding: 0;
  height: auto;
  justify-content: center;
}

#prof-pagination a {
  transition: all 0.3s, color 0.5s;
}

#prof-pagination.pagination {
  width: 100%;
}
#prof-pagination.pagination li {
    
}
#prof-pagination.pagination li a {
    height: 3em;
  line-height: 3em;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0;
  
}
#prof-pagination.pagination li a:focus {
  box-shadow: none;
}
/*Tamaños Texto*/
.prof-list-component .prof-card {
 
  font-size: 0.7em;
}

.card-info .prof-name {
  font-size: 1.2em;
}

.card-info .prof-dept, .card-info .prof-role {
  font-size: 1em;  
}

@media screen and (min-width: 500px){
      /*Tamaños Texto*/
      .prof-list-component .prof-card {
        font-size: 0.85em;
    }
}

@media screen and (min-width: 768px) {

  
    .prof-list-component .container-fluid{
        width: 75%; margin: 0 auto
    }

    .prof-card .card-image {
        height: 8.5em;
        width: 8.5em;        
    }
    .prof-card .card-info {
        height: 8.5em;
        line-height: 1.25;
    }
  
    /*Tamaños Texto*/
    .prof-list-component .prof-card {
      font-size: 1em;
    }
    .prof-tabs ul li{
      font-size: 1.3em;
    }
   
}
